* { box-sizing: border-box; }

body {
	font-family: sans-serif;
}

/* ---- button ---- */

.button {
	display: inline-block;
	padding: 0.5em 1.0em;
	background: #EEE;
	border: none;
	border-radius: 7px;
	background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
	color: #222;
	font-family: sans-serif;
	font-size: 16px;
	text-shadow: 0 1px white;
	cursor: pointer;
}

.button:hover {
	background-color: #8CF;
	text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
	color: #222;
}

.button:active,
.button.is-checked {
	background-color: #28F;
}

.button.is-checked {
	color: white;
	text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
	box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group {
	margin-bottom: 20px;
}

.button-group:after {
	content: '';
	display: block;
	clear: both;
}

.button-group .button {
	float: left;
	border-radius: 0;
	margin-left: 0;
	margin-right: 1px;
}

.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }

/* ---- isotope ---- */

.grid {
	border: 1px solid #333;
}

/* clear fix */
.grid:after {
	content: '';
	display: block;
	clear: both;
}

/* ---- .element-item ---- */

.element-item {
	background-image: url("../assets/bob_wiley.jpeg");
	background-size: cover;
	position: relative;
	float: left;
	width: 100px;
	height: 100px;
	margin: 5px;
	padding: 10px;
	background-color: #888;
	color: #262524;
	cursor: pointer;
}

.element-item > * {
	margin: 0;
	padding: 0;
}

.element-item .name {
	position: absolute;

	left: 10px;
	top: 60px;
	text-transform: none;
	letter-spacing: 0;
	font-size: 12px;
	font-weight: normal;
}

.element-item .symbol {
	position: absolute;
	left: 10px;
	top: 0px;
	font-size: 42px;
	font-weight: bold;
	color: white;
}

.element-item .number {
	position: absolute;
	right: 8px;
	top: 5px;
}

.element-item .weight {
	position: absolute;
	left: 10px;
	top: 76px;
	font-size: 12px;
}

.layer {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*.layer.alkali					{ background-color: #F00; background-color: hsl(	 0, 100%, 50%); }
.layer.alkaline-earth	{ background-color: #F80; background-color: hsl(	36, 100%, 50%); }
.layer.lanthanoid			{ background-color: #FF0; background-color: hsl(	72, 100%, 50%); }
.layer.actinoid				{ background-color: #0F0; background-color: hsl( 108, 100%, 50%); }
.layer.transition			{ background-color: #0F8; background-color: hsl( 144, 100%, 50%); }
.layer.post-transition { background-color: #0FF; background-color: hsl( 180, 100%, 50%); }
.layer.metalloid			 { background-color: #08F; background-color: hsl( 216, 100%, 50%); }
.layer.diatomic				{ background-color: #00F; background-color: hsl( 252, 100%, 50%); }
.layer.halogen				 { background-color: #F0F; background-color: hsl( 288, 100%, 50%); }
.layer.noble-gas			 { background-color: #F08; background-color: hsl( 324, 100%, 50%); }*/

.layer.alkali					{ background-color: rgba(255,0,0,0.5); }
.layer.alkaline-earth	{ background-color: rgba(255,136,0,0.5); }
.layer.lanthanoid			{ background-color: rgba(255,255,0,0.5); }
.layer.actinoid				{ background-color: rgba(0,255,0,0.5); }
.layer.transition			{ background-color: rgba(0,255,136,0.5); }
.layer.post-transition { background-color: rgba(0,255,255,0.5); }
.layer.metalloid			 { background-color: rgba(0,136,255,0.5); }
.layer.diatomic				{ background-color: rgba(0,0,255,0.5); }
.layer.halogen				 { background-color: rgba(255,0,255,0.5); }
.layer.noble-gas			 { background-color: rgba(255,0,136,0.5); }

.element-item img {
	max-width:100%;
	max-height:100%;
}
