<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CollectionSelections</key>
	<dict>
		<key>9E9EEFBB-7DE0-4FF8-856A-D68686F8C450</key>
		<array>
			<string>BEA17C1D-E655-4CBF-9CEE-6C89957C98E5</string>
		</array>
	</dict>
	<key>CommentsScaleFactor</key>
	<real>1</real>
	<key>CommentsUseTextScale</key>
	<true/>
	<key>HistoryMonthPopUpType</key>
	<integer>0</integer>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>SuppressBookmarksFolderCheck</key>
	<false/>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {175, 1035}}</string>
		<string>{{176, 0}, {1744, 1035}}</string>
	</array>
	<key>binderWidth</key>
	<real>281.5</real>
	<key>bookmarksPreviewTextSettings</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>isRulerVisible</key>
		<false/>
		<key>lineNumberingInterval</key>
		<integer>1</integer>
		<key>showsLineNumbers</key>
		<false/>
		<key>textFocusMode</key>
		<integer>0</integer>
		<key>textScaleFactor</key>
		<real>1</real>
		<key>usesFacingPages</key>
		<false/>
		<key>usesTypewriterScrolling</key>
		<false/>
	</dict>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>006C1C4A-133E-4CCD-8FF7-6E63A65FE10C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>00EB8C15-D0D7-4E30-AF3E-9DCAD5BDBD3F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>02F0DB45-339B-49C1-9E87-FD047385D293</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>05CA0104-0AED-40AF-BB73-4D2881624A9E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>064FB6A7-3E7D-4982-82A5-DC19AD46BF9E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0DC571FA-1003-4A7B-8665-7C7AC66AFA61</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0E12CCA9-694F-4388-8C9C-D4C77AF249AA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>10714206-431A-44C7-A8E1-3473024D691E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>10E4100C-D7F8-4BD6-BE12-E2DD2D861721</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>10F4354D-3A7C-4644-89D4-E78F142817EF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>143FC4C6-9213-456B-9682-7AF2D22A5E6A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>15A91200-B671-4AAA-87C8-8D2C62E4599A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>17432E00-FCC7-4EC3-8839-90FE38CC5658</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>18759E76-2F9F-4304-A2EA-EB1D4D2EC1D2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>193A3C81-035F-4C83-B98A-3DD961F1DFD7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>19DF8594-A0D1-4D9F-AE29-8BB52CD9A90A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1BDA0327-605B-4BB4-9146-3C1F463A18D6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1C045CA1-D0A8-4F04-96E9-7CCD4369D114</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1CA32EE8-2470-44BB-B60C-84B89467DFE4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1DA8D6F2-E2CE-44CF-A895-3D763C963867</key>
		<dict>
			<key>DocID</key>
			<string>D216B014-70C6-4F93-827E-D0E08149D894</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>1F20A0E3-59EA-4F64-B06C-9FD49FCF318D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1F334A32-A877-410D-9EE5-E995879929A9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>20AA57A6-47DA-40B3-A83C-A2DFE772C323</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>21BBDFDB-6886-4E7C-B6B9-34F0FD0585A3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2436EE7F-799E-4ACB-84AE-375C28CB90C2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2484A0FD-D76F-41B3-B80F-77E605399605</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>28A91101-275A-4DF9-9CB3-70C4D835DFA9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2C0450AC-2F1C-443E-B49A-E2CB40CBEBFB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2C07058D-20FF-46B8-B782-64B2D4A3B0E1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2C498126-22DA-4F2B-B071-2E4A1AF24521</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2CEF044D-4177-4F1F-B71E-720B068C2C07</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2D1728BC-A4DB-4E69-8FA6-38D9827EB143</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2D9C0DC1-F59F-4137-873F-24554DC0AF93</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>32B87E5D-DC77-4402-AF66-B1E8FC73BB6D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>337AAC7C-8606-4C4F-8661-ACD6FA549C0C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>34155603-147D-4F24-865B-700ABFCE86A5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>39284AC4-3924-4F86-9795-1F42F72F1DAF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3AD0B476-C8D3-431B-8AD7-2CA7CEF9B046</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3B116937-F8ED-4618-9C42-921840D97210</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3BC85FD5-0859-4720-99ED-BEEACC2E1E77</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3BFC4C37-2F5B-481D-A1A1-2E1D3190CE31</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3C5B7E58-0222-41E6-9358-41CF46116A29</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3E849A8C-1DA4-4685-B928-2F43047A8B30</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3F88FB9D-4A02-4271-9DD3-535DFF72BD3B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>404E0683-EB61-407A-BE70-4FB38D5DD880</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>41382D21-DDB3-47D6-9DBD-A43BDEB7D60C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>429179A5-D7D0-4E21-8806-274A0F1C30E5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>495AD012-338D-4825-BA97-B6EDF0F4343C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4AA5AC2F-0881-47F8-BFB0-ECF072CB7FD6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4C012669-0C9D-46AD-9433-A9C8A4856D6E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4D56D0FA-A02F-40C6-9771-F403BBD8302A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4D58821C-2B74-484B-A662-0F0EC2F502BA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4F4BBC1C-CDE0-473D-884B-7F6DAD13C1B8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>50988221-93F6-4973-905D-C111B77FD925</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>50F5ADC1-A14B-4C2F-B3F2-2707E7EEE54E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>515AC365-9EF3-4CFC-8028-6FE2D60581CC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>516192A7-2515-415A-B8BA-FAC259095283</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5193D3C8-8B9F-43BC-B9BB-EE2281B9CDA1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5232633D-142A-4346-ADAD-C955C9E6160F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>58A506D6-3579-4491-9926-1E8844442B30</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>58C7D8F0-6D67-4E12-99D6-5B8E47E940EA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5946C424-1EB5-4421-801F-C2F9BEEBEBA1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5B38F7ED-7CF8-4ECE-B0DF-A2FDC66B4DE6</key>
		<dict>
			<key>DocID</key>
			<string>F271D12F-9F8C-4BA6-A534-52335A4ACA51</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>5C2B55AE-9DE2-4432-B10B-8BCA2D5AEBF4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5D6F3DE4-D9A9-4DE2-9531-AA9B2411920B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5DA18AC2-94B5-4B67-98A4-56AA87FAC1EF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>605E8C7C-2417-43BE-8643-EF761E4F0B23</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6089098D-8FE4-4295-8757-03A9D86492A7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>615A81C9-65D0-4559-B006-15059F6CC026</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6439AB6B-94D2-4E60-BF0C-54A22E26F537</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6553BF9C-1978-4BBC-8AF7-D3DCBB93D564</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>697CB465-7225-4321-90A7-18267994B15A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>69D12EF2-7A3B-4EC5-A003-73B11A649DF6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6A835642-069A-49E4-AFE5-F97F2213F50B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6EB6BE00-C0E2-4DAF-93C5-2F398CEFD0B9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6FFB7995-75C3-4919-88DA-687F48DC2CF3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>75D82775-E983-4837-AA7A-0053FFA4566E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>78DE8755-B3BE-4B82-8CDA-BF0BA9ECB7BD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7947BA04-45C3-41A1-9477-AAF977D646D3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7B1506A4-8DB3-4355-A80F-AA8F985CC50D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7BA5F431-9325-4331-8B88-315BCBA7DED4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7D9B7531-DBA7-484C-B497-B8457493CF03</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7ED0E743-FC6A-4005-905F-B42E27E37F3B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>80904571-AFDD-4E1D-B74C-6CD3D2E3D3B8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>80C84352-CF49-4974-A8E6-FE6DBCA1D2EB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8318AB61-0132-4F89-97F2-B4BC27D8F1D4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>847061CB-5E45-4CD9-ACE2-68E70966DDBB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>853F8F82-967F-49CB-9EBC-D7F3C93F4F10</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>88FEC3C2-E258-4319-8499-83600906876C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>892C1D01-220A-4205-8ED1-A6FF67758A7E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8C92C5C8-1E9A-4535-85C0-A4FE979B2EF0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8D3BC7B2-AE86-4A56-B0A4-E1A5A3F60D65</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8E933A1E-A2D5-4241-BB6D-FC14BCE33C46</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>90A512AB-4665-49B8-A5DA-5934B254A11E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>910FA819-842F-457F-8255-050A41E87DB1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>91DD5783-4DD6-4C00-8517-8875B63682D5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>920F0195-6D66-455B-B7EA-CEC38465B98F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>93471D41-0E3E-4C9B-AA6B-39B0917F8F58</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9420870D-A95B-433F-89BA-0DAB5119FC32</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>95335B2E-3B6E-4D0F-9554-97237F9E7524</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>955A2813-A608-4216-AF0A-89F2BD230FD3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>96DE8CCB-ED09-4406-B204-D475F8405DC7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>97C70077-B576-4F74-A10F-74354DB5179B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>98A2B9B3-ADEE-4087-A764-F889AF95F4A2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>98E3AB7E-FFE1-4AAE-BE7B-639DAC32C145</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>99E5F012-3010-4B60-A6D4-171F55BA004D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9AE3F4C5-50CE-4DB6-9C46-A3B31375B16B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9B871F45-BE94-41E8-A912-A1091707CF29</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9DF4E8CC-FFB2-4735-8AA9-B09B61C6BD12</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A0586148-6C52-46BE-BD4E-1C9A6A48E656</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A1A46B36-3966-4B52-9539-53FF1F5CA83E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A33A2A02-AB5A-4D5C-BD3F-F7469E4EF934</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A3DD3A1E-F4CE-49EC-AE29-16B50E6857A3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A863C1AD-9A7F-46F7-BF69-27DD841F0EB8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>AA091AC3-8F10-47AE-9E09-7C3ED675ED7B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>AACFDAA7-FD55-4A41-A987-D6DCA9CC9423</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>AB1D9219-5D5B-4AFF-97A2-4FCC197E480C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>ACD4F870-93D0-46B1-AEBA-C160FE6B591A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>ADB6DD7C-F28D-4201-A7FC-2642D018C13E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>AE2350A5-5516-4E22-B2D2-EEE270D9AC9B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B1BA27BF-4F59-4470-B8B6-86D8FA6237A3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B458F9B3-9D47-4E31-A23C-AEDB87CE5220</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B6A849EF-096D-4EB4-937D-75BAE7684759</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B6B4BA2E-8205-4064-B3FF-42758854C928</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B6D215D2-EADE-45C0-AE84-24D800AAC436</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B738603E-CE2E-4700-A0AB-92F6EA7954B5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BA989A73-1B7F-4D8E-9790-9C9AF83EE09D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BB7B70F8-E0C6-46D8-BCD1-299294685ED2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BEA17C1D-E655-4CBF-9CEE-6C89957C98E5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BEA8FBB3-8887-437F-800F-5E384A51682F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BF0B4750-DD1C-4E97-8900-3CADEF87F334</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BF8D1EF3-16EC-4395-B331-6724F9EE5123</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C48FB621-C1D9-45F4-850B-C9E92ABF91C0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C96AF56F-82EE-4920-9D6A-DE2DFE9B79CB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CC37D200-62D7-48D5-9D45-F1BC97363387</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CCA82AC3-7CF6-491D-8A24-EC44575F7C85</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CF1E91FB-2EF7-46C7-9AF8-D6B79FA61BA5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CF76BE91-776D-4E35-9929-396070514132</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D0920011-C97C-4B9E-8CC8-A774E79077CC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D0E9C586-D0D4-4266-833B-62F4FA85CCE9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D0FA431C-3C52-46C1-B0BE-D750BE6654FA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D216B014-70C6-4F93-827E-D0E08149D894</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D2595764-DDC7-4286-AB49-A542123A151A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D5BEADE1-BBDC-4216-9BB4-99D570340D92</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D7846FA2-8777-43FA-8CDB-06320642D819</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D93ADE3F-2A64-4CDF-B502-4205ED5BA6C6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DA7B7EF6-EB12-405D-BE7A-9AD788A9B701</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DABE9025-B9AE-44F5-8872-6B06122BE015</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DB89B126-9EFD-45C5-8C3A-D5BB5DC45F1F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DFCF95EB-61D1-4796-A4B7-929A1E0E5F86</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E502BE76-97E3-41BD-8CC1-CE2675455F4E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E54A0184-4ED4-4A9E-95B2-5B0E4D3B0BDF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E5744F81-F08C-45DF-AFE4-2C2ECF4D199F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E5A5551B-0DDC-46E1-8861-DC0E64C7B08D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E5F18ABC-7620-4E6D-B28B-D1696E909D69</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E9E8BF9D-B04D-4F48-9511-38DFD57346F3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EACF3D13-D2FB-4C26-9A4B-2BC018728415</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>ED567BA7-C873-490D-8F3F-62CA2F3A6C33</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EFB56A5F-5C91-4A0E-BEDB-02EC3176EA77</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F0F21BC9-F8DA-4F98-8BCF-22E4DE12B337</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F13BBC08-49D3-486E-9EFE-2B7112584B37</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F1424286-C543-4A74-AC35-8C545112F136</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F1808EE7-7CB2-4F57-BEF6-269F47B83B71</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F271D12F-9F8C-4BA6-A534-52335A4ACA51</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F43ADD01-FC0D-4C47-AAC0-D720E2D2A3D6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FB3BCCB9-5BAA-4F50-BFE0-D434B12F01B6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FC4A70BF-2DA8-4E1B-B79F-A53A49AD72A5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FF5E41C3-0DCD-405D-8932-F698FE9E37EA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>Project</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionSelectionAutosaveName</key>
	<array>
		<integer>2</integer>
	</array>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>editorSplitFrames</key>
	<array>
		<string>{{0, 0}, {618, 224}}</string>
	</array>
	<key>exportFilesFormat</key>
	<integer>3</integer>
	<key>fullScreenBackgroundFade</key>
	<real>1</real>
	<key>fullScreenHorizontalPaperPosition</key>
	<integer>2</integer>
	<key>fullScreenInspectorMode</key>
	<integer>6</integer>
	<key>fullScreenInspectorVisible</key>
	<false/>
	<key>fullScreenPaperHeight</key>
	<integer>-1</integer>
	<key>fullScreenPaperWidth</key>
	<integer>1002</integer>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>fullScreenVerticalPaperPosition</key>
	<integer>2</integer>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {384, 612}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>227</real>
	<key>lastDocumentSplitType</key>
	<integer>1</integer>
	<key>mainDocumentEditor.PDFAutoScales</key>
	<false/>
	<key>mainDocumentEditor.PDFScale</key>
	<real>2.5071277618408203</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.outlinerColumnsWidths</key>
	<dict>
		<key>allKeywords</key>
		<real>254</real>
		<key>createdDate</key>
		<real>96</real>
		<key>keywords</key>
		<real>138</real>
		<key>title</key>
		<real>242</real>
		<key>topic</key>
		<real>104</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {621, 294}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>6 93 1130 650 0 0 1920 1055 </string>
	<key>projectStatsSheet</key>
	<dict>
		<key>countDraftFootnotes</key>
		<integer>1</integer>
		<key>currentCompileGroupOnly</key>
		<integer>0</integer>
		<key>excludeAnnots</key>
		<integer>0</integer>
		<key>excludeFN</key>
		<integer>0</integer>
		<key>includeSubdocs</key>
		<integer>1</integer>
		<key>options</key>
		<integer>0</integer>
		<key>paperbackCountUsesChars</key>
		<integer>0</integer>
		<key>useFastStats</key>
		<integer>1</integer>
		<key>wordsOrCharsPerPaperbackPage</key>
		<integer>350</integer>
	</dict>
	<key>searchResultsTable</key>
	<dict>
		<key>order</key>
		<array>
			<string>TITLE</string>
		</array>
		<key>widths</key>
		<dict>
			<key>TITLE</key>
			<real>200</real>
		</dict>
	</dict>
	<key>supportingDocumentEditor.PDFAutoScales</key>
	<false/>
	<key>supportingDocumentEditor.PDFScale</key>
	<real>1.9749910831451416</real>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.outlinerColumnsWidths</key>
	<dict>
		<key>allKeywords</key>
		<real>178</real>
		<key>label</key>
		<real>32</real>
		<key>padding</key>
		<real>10</real>
		<key>sectionType</key>
		<real>60</real>
		<key>status</key>
		<real>32</real>
		<key>title</key>
		<real>193</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {996.57142857142856, 542.28571428571433}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.75</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
